@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.rubik-font {
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Rubik", sans-serif;
   overflow: hidden;
}
.top-bottom{
   width: 100%;
   min-height: 10vh;
   position: fixed;
   z-index: 1000;
   display: flex;
   align-items: center;
   background: hsla(205, 46%, 10%, 1);

   background: linear-gradient(0deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

   background: -moz-linear-gradient(0deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

   background: -webkit-linear-gradient(0deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
}
#top{
   top: 0;
   left: 0;
   justify-content: space-between;
}

nav ul{
   display: flex;
   height: 5vh;
   align-items: center;
}

ul a {
   font-size: 1rem;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
   padding: 8px 15px;
   transition: all 0.15s ease;
   border-radius: 10px;
}

ul li {
   padding: 10px;
   list-style: none;
   margin-left: 10px;
}


ul a:hover, #current {
   background-color: #fff;
   color: black;
}

#bottom{
   bottom: 0;
   left: 0;
   justify-content: flex-end;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   padding-top: 10vh; 
   padding-bottom: 10vh;
   background: hsla(180, 13%, 58%, 1);

   background: linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);

   background: -moz-linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);

   background: -webkit-linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#87A3A3", endColorstr="#AC8D9A", GradientType=1 );
}
.main{
   flex: 1;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 0 2%;
   margin: 1%;
   aspect-ratio: 16 / 9;
}

.main div{
   transition: background-color 0.3s;
}

.main div:hover{
   background-color: #FFD700;
   
}

.main div{
   color: #fff;
   display: flex;
}

.div-1 {
   grid-row: span 4;
}

.div-2{
   grid-row: span 4;
}

.div-3{
   grid-column: span 2;
   justify-content: center;
   align-items: center;
   font-size: 3.4rem;
   font-weight: 500;
}

.div-4{
   grid-row: span 3;
}

.div-5{
   grid-row: span 3;
   flex-direction: column;
}

.text-wrapper{
   padding: 5px;
   background-color: #fff;
   border: 3px solid black;
}

#wr-top{
   margin-left: 2%;
}

#wr-bttm{
   margin-right: 2%;
}